:root {
  /*Estilo de letra y tamaño*/
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  
  /*Background gradient*/
  background-color: #2B2B2B;
  height: 100vh;
  margin: 0;
}