@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Estilo de letra y tamaño*/
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /*Background gradient*/
  background-color: white;
  height: 100vh;
  margin: 0;
}